# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
coverage/
*.tsbuildinfo
.angular/
.cache/

# IDE
.idea/
.vscode/*
*.code-workspace
.commitbuilderrc.json

# Environment
.env
.env.*
!.env.example
